{
  "tabWidth": 4,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "all",
  "semi": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "insertPragma": false,
  "requirePragma": false,
  "useTabs": false,
  "multilineArraysWrapThreshold": 1,
  "bracketSpacing": true,
  "plugins": [
    "prettier-plugin-multiline-arrays"
  ]
}