{
    "tabWidth": 4,
    "singleQuote": true,
    "printWidth": 80,
    "trailingComma": "all",
    "semi": true,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "css",
    "bracketSpacing": true,
    "multilineArraysWrapThreshold": 1,
    "endOfLine": "lf",
    "plugins": [
        "prettier-plugin-multiline-arrays"
    ],
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always",
                "printWidth": 100,
                "tabWidth": 2,
                "embeddedLanguageFormatting": "off"
            }
        }
    ]
}
